dymola-integration/src/main/java/org/power_systems_modelica/psm/dymola/integration/service/dymservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://proxy_service.integration.dymola.psm.power_systems_modelica.org/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://proxy_service.integration.dymola.psm.power_systems_modelica.org/"
	name="SimulatorServerImplService">
	<wsp:Policy wsu:Id="SimulatorServerImplPortBinding_MTOM_Policy">
		<ns1:OptimizedMimeSerialization
			xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
			wsp:Optional="true"></ns1:OptimizedMimeSerialization>
	</wsp:Policy>
	<types>
		<xsd:complexType name='stringList'>
			<xsd:element minOccurs='0' maxOccurs='unbounded' name='stringListName'
				type='xsd:string' />
		</xsd:complexType>
	</types>
	<message name="simulate">
		<part name="arg0" type="xsd:string"></part>
		<part name="arg1" type="xsd:string"></part>
		<part name="arg2" type="xsd:double"></part>
		<part name="arg3" type="xsd:double"></part>
		<part name="arg4" type="xsd:int"></part>
		<part name="arg5" type="xsd:double"></part>
		<part name="arg6" type="xsd:double"></part>
		<part name="arg7" type="xsd:stringList"></part>
		<part name="arg8" type="xsd:string"></part>
		<part name="arg9" type="xsd:string"></part>
		<part name="arg10" type="xsd:boolean"></part>
		<part name="arg11" type="xsd:int"></part>
		<part name="arg12" type="xsd:base64Binary"></part>
	</message>
	<message name="simulateResponse">
		<part name="return" type="xsd:base64Binary"></part>
	</message>
	<message name="check">		<part name="arg0" type="xsd:string"></part>
		<part name="arg1" type="xsd:string"></part>
		<part name="arg2" type="xsd:string"></part>
		<part name="arg3" type="xsd:base64Binary"></part>
	</message>
	<message name="checkResponse">
		<part name="return" type="xsd:base64Binary"></part>
	</message>
	<portType name="SimulatorServer">
		<operation name="simulate"
			parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8 arg9 arg10 arg11">
			<input
				wsam:Action="http://proxy_service.integration.dymola.psm.power_systems_modelica.org/SimulatorServer/simulateRequest"
				message="tns:simulate"></input>
			<output
				wsam:Action="http://proxy_service.integration.dymola.psm.power_systems_modelica.org/SimulatorServer/simulateResponse"
				message="tns:simulateResponse"></output>
		</operation>
		<operation name="check"
			parameterOrder="arg0 arg1 arg2 arg3">
			<input
				wsam:Action="http://proxy_service.integration.dymola.psm.power_systems_modelica.org/SimulatorServer/checkRequest"
				message="tns:check"></input>
			<output
				wsam:Action="http://proxy_service.integration.dymola.psm.power_systems_modelica.org/SimulatorServer/checkResponse"
				message="tns:checkResponse"></output>
		</operation>
	</portType>
	<binding name="SimulatorServerImplPortBinding" type="tns:SimulatorServer">
		<wsp:PolicyReference URI="#SimulatorServerImplPortBinding_MTOM_Policy"></wsp:PolicyReference>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="rpc"></soap:binding>
		<operation name="simulate">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"
					namespace="http://proxy_service.integration.dymola.psm.power_systems_modelica.org/"></soap:body>
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://proxy_service.integration.dymola.psm.power_systems_modelica.org/"></soap:body>
			</output>
		</operation>
		<operation name="check">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"
					namespace="http://proxy_service.integration.dymola.psm.power_systems_modelica.org/"></soap:body>
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://proxy_service.integration.dymola.psm.power_systems_modelica.org/"></soap:body>
			</output>
		</operation>
	</binding>
	<service name="SimulatorServerImplService">
		<port name="SimulatorServerImplPort" binding="tns:SimulatorServerImplPortBinding">
			<soap:address location="http://0.0.0.0:8888/dymservice"></soap:address>
		</port>
	</service>
</definitions>